.cabecalho {
    @include flexBox(row, space-between, center);
    background-color: $cor-cinza01;
    padding: 0px 50px;
    width: 100%;
    height: 100px;

    .logo {
        max-width: 190px;
        width: 100%;

            img {
                width: 100%;
            }
    }

    .menu {
        @include flexBox(row, center, center);
        gap: 0px 50px;

        .menu-item {
            text-decoration: none;
            color: $cor-branco;
            font-weight: 500;
            font-size: 1.1em;
            transition: 0.4s;

                &:hover {
                    color: $cor-azul01;
                }
        }
    }

    .botao-menu {
        z-index: 9999;
        cursor: pointer;
        width: 60px;
        height: auto;
        @include flexBox(column, center, center);
        gap: 10px 0px;
        display: none;

        .botao-menu-item {
            background-color: $cor-branco;
            width: 100%;
            height: 5px;
        }
    }
}

.cabecalho .menu.ativo {
    background-color: $cor-cinza01;
    padding: 0px;
    position: fixed;
    top: 0px;
    left: 0px;
    width: 100%;
    min-height: 100vh;
    z-index: 999;
    padding: 20px 0px;
    @include flexBox(column, center, center);
    gap: 35px 0px;

    .menu-item {
        font-size: 1.6em;
    }
}

@media(max-width: 1000px) {
    .cabecalho .menu {
        display: none;
    }

    .cabecalho .botao-menu {
        display: flex;
    }


    .cabecalho .menu {
        background-color: $cor-cinza01;
        padding: 0px;
        position: fixed;
        top: -150%;
        left: 0px;
        width: 100%;
        min-height: 100vh;
        overflow: hidden;
        z-index: 999;
        @include flexBox(column, center, center);
        gap: 60px 0px;
    
        .menu-item {
            font-size: 1.6em;
        }
    }

    .cabecalho .menu.ativo {
        transition: 0.6s;
        top: 0%;
        overflow-x: hidden;
    }

    .cabecalho .botao-menu.ativo {
        position: fixed;
        right: 50px;
        top: 33px;
    }
}


@media(max-width: 500px) {
    .cabecalho {
        padding: 0px 30px;
    }

    .cabecalho .logo {
        max-width: 150px;
    }


    .cabecalho .botao-menu.ativo {
        right: 30px;
    }
}


@media(max-width: 360px) {
    .cabecalho {
        padding: 0px 10px;
    }

    .cabecalho .logo {
        max-width: 130px;
    }
}



