.projetos {
    background: $cor-cinza01;
    width: 100%;
    height: auto;
    padding: 40px 0px;
    @include flexBox(column, center, center);
    gap: 50px 0px;

    .titulo {
        font-size: 3em;
        font-weight: 600;
        color: $cor-branco;
    }

    .card-projetos {
        @include flexBox(row, center, center);
        flex-wrap: wrap;
        gap: 35px 30px;
        width: 95%;
        height: auto;

        .card-projetos-item {
            @include flexBox(column, space-around, center);
            background: $cor-cinza02;
            border-radius: 10px;
            max-width: 360px;
            width: 95%;
            min-height: 450px;   
            padding: 20px 0px; 

            img {
                max-width: 270px;
                width: 90%;
            }

            .paragrafo {
                color: $cor-branco;
                font-weight: 500;
                max-width: 270px;
                width: 90%;
                text-align: center;
            }

            .botao {
                @include flexBox(row, center, center);
                gap: 0px 50px;
                width: 100%;
                
                .botao-item {
                    max-width: 120px;
                    width: 100%;
                    height: 50px;
                    @include flexBox(row, center, center);
                    border-radius: 5px;
                    text-decoration: none;
                }

                #github {
                    border: 3px solid $cor-azul01;
                    color: $cor-branco;
                    font-weight: 500;
                    transition: 0.3s;

                    &:hover {
                        background-color: $cor-azul01;
                    }
                }

                #projeto {
                    background-color: $cor-azul01;
                    color: $cor-branco;
                    font-weight: 500;
                    transition: 0.3s;

                    &:hover {
                        color: $cor-branco;
                        opacity: 0.8;
                    }
                }
            }
        }
    }

    .ver-mais {
        cursor: pointer;
        background-color: $cor-azul01;
        color: $cor-branco;
        font-size: 1.1em;
        font-weight: 500;
        border: none;
        border-radius: 5px;
        max-width: 180px;
        width: 100%;
        height: 55px;
        box-shadow: 4px 4px 0px $cor-azul02;
        transition: 0.3s;

        &:hover {
            box-shadow: 2px 2px 0px $cor-azul02;
            transform: translate(5px, 5px);
        }
    }

}

.projetos .ver-mais.ativo {
    transition: 0.5s;
    background-color: $cor-cinza04;
    box-shadow: 2px 2px 0px $cor-cinza05;
}

@media(max-width: 370px) {
    .projetos .card-projetos .card-projetos-item .botao {
        flex-direction: column;
        gap: 20px 0px;
    }

    .projetos .card-projetos .card-projetos-item .botao .botao-item {
        max-width: 150px;
    }
}