.projetos-extras {
    background-color: $cor-cinza01;
    width: 100%;
    height: 0px;
    overflow: hidden;
    @include flexBox(row, center, center);
    flex-wrap: wrap;
    gap: 35px 30px;
    


    .projetos-extras-item {
        @include flexBox(column, space-around, center);
        background: $cor-cinza02;
        border-radius: 10px;
        max-width: 360px;
        width: 95%;
        min-height: 450px;   
        padding: 20px 0px; 

        img {
            max-width: 270px;
            width: 90%;
        }

        .paragrafo {
            color: $cor-branco;
            font-weight: 500;
            max-width: 270px;
            width: 90%;
            text-align: center;
        }

        .botao {
            @include flexBox(row, center, center);
            gap: 0px 50px;
            width: 100%;
            
            .botao-item {
                max-width: 120px;
                width: 100%;
                height: 50px;
                @include flexBox(row, center, center);
                border-radius: 5px;
                text-decoration: none;
            }

            #github {
                border: 3px solid $cor-azul01;
                color: $cor-branco;
                font-weight: 500;
                transition: 0.3s;

                &:hover {
                    background-color: $cor-azul01;
                }
            }

            #projeto {
                background-color: $cor-azul01;
                color: $cor-branco;
                font-weight: 500;
                transition: 0.3s;

                &:hover {
                    color: $cor-branco;
                    opacity: 0.8;
                }
            }
        }
    }
}


.projetos-extras.ativo {
    transition: 1s;
    height: auto;
}


@media(max-width: 400px) {
    .projetos .titulo {
        font-size: 2.2em;
    }
  }



@media(max-width: 370px) {
    .projetos-extras .projetos-extras-item .botao  {
        flex-direction: column;
        gap: 20px 0px;
    }

    .projetos-extras .projetos-extras-item .botao .botao-item {
        max-width: 150px;
    }
}