$cor-cinza01: #313236;
$cor-cinza02: #48494D;
$cor-cinza03: rgba(49, 50, 54, 0.95);
$cor-cinza04: rgb(117, 110, 110);
$cor-cinza05: rgb(143, 133, 133);
$cor-cinza06: #555866;
$cor-azul01: #2252FD;
$cor-azul02: #2b52e0;
$cor-branco: #fff;


@mixin  flexBox($direction, $content, $items) {
    display: flex;
    flex-direction: $direction;
    justify-content: $content;
    align-items: $items;
}

